.back-video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    object-fit: cover;
}

.game-title {
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(255,255,255);
    color: transparent;
    font-family: "Tiny5", sans-serif;
}

a {
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    cursor: pointer;
}

.content-center {
    text-align: center;
}