<video autoplay loop muted plays-inline class="back-video">
    <source src="../../assets/backgroundAnimation.mp4" type="video/mp4">
</video>

<audio #backgroundAudio autoplay loop>
    <source src="../../assets/Green Hill Zone.mp3" type="audio/mpeg">
</audio>

<div >
    <div class="header content-center">
        <h1 class="game-title">
            Tic - Tac - Toe
        </h1>

        <h1 class="text-center text-white text-4xl"
            *ngIf="!gameService.winner"
            [ngClass]="{'text-teal-300' : gameService.activePlayer == 'O'}">
            X's points: {{gameService.gamePoints["X"]}}   |   O's points: {{gameService.gamePoints["O"]}}
        </h1>

        <h1 class="text-center text-orange-600 text-4xl font-bold"
            *ngIf="!gameService.winner"
            [ngClass]="{'text-teal-300' : gameService.activePlayer == 'O'}">
            It is {{gameService.activePlayer}}'s turn
        </h1>

        <h1 class="text-center text-red-500 text-4xl font-semibold"
            *ngIf="gameService.winner"
        >
            赢 {{gameService.activePlayer}} won! 赢
        </h1>

        <a *ngIf="gameService.gameOver"
        (click)="ResetGame()">Restart</a>

    </div>

    <app-board></app-board>

    <div class="header content-center">
        <a *ngIf="gameService.pvpMode"
        (click)="gameService.ChangeGameMode()">Player Vs Player</a>
    
        <a *ngIf="!gameService.pvpMode"
        (click)="gameService.ChangeGameMode()">Player Vs Bot</a>
    </div>

</div>


