.game-square {
    height: 100%;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

p {
    display: inline;
    margin: 0px;
    font-size: 12rem;
    overflow: hidden;

    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

.noClick {
    pointer-events: none;
}

.player-one,
.player-two {
    height: 100%;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

.player-one:hover {
    border: 6px solid rgb(97, 255, 255);
}

.player-two:hover {
    border: 6px solid rgb(234, 88, 12);
}